h1{
    margin-top: 8rem;
    color:gold
}


h2 {
    text-align: center;

    color: rgb(209, 202, 159);

    font-size: 1.1rem;

    line-height: 1.7;

    font-weight: 400;

    max-width: 50rem;

    margin: 0 auto 2rem auto;

    padding: 0 1rem;
}

.button-wrapper{

    display: flex;

    justify-content: center;

    margin-bottom: 3rem;
}

.daily-card img {
  display: block;

    margin: 0 auto;
    

   width: 100%;

   max-width: 18rem;

   border-radius: 1rem;

   box-shadow: 0 0 20px rgba(180, 120, 255, 0.3);
}

.daily-card p {

   font-size: 1.05rem;

   line-height: 1.8;

   color: #f3eaff;
}