.home {
    min-height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: white;

    padding: 2rem;
}

.home-buttons {
    display: flex;

    justify-content: center;

    align-items: center;

    gap: 1rem;

    margin-top: 2rem;
}

.hero {
    max-width: 900px;
}

.hero h1 {
    font-size: 5rem;

    color: gold;

    margin-bottom: 2rem;
}

.hero p {
    font-size: 1.5rem;

    line-height: 1.8;

    margin-bottom: 3rem;
}

.home a {
    text-decoration: none;
}