* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-image:
      linear-gradient(rgba(20, 10, 30, 0.25), rgba(20, 10, 30, 0.35)),
  url('pozadi1.png');

   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;

   min-height: 100vh;

   color: #f3eaff;
   font-family: 'Open Sans', sans-serif;
   overflow-x: hidden;
}